@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&family=Roboto:wght@300&display=swap');

body{
    background-color: #141C2F;
    font-family: 'M PLUS 1 Code', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1.4vh;
    margin-top: 100px;
    
}
main{
    
    width: 80vw;
    max-width: 800px;
}
#h2-01{
    color: white;
}
h2, section>span {
    font-family: 'Roboto', sans-serif;
    
    color:  rgb(0, 0, 0);
}

#sun{
    display: flex;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 4px;
}
#luz{
    fill: white;
}
svg{
    width: 15px;
    
    fill: rgb(51, 51, 51);
}

#box_01{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#box_02{
    align-items: center;
    border-radius: 0.5rem;
    background-color: #ffffff;
    display: flex;
    height: 3rem;
    justify-content: space-around;
    
}
input{
    background-color: #ffffff;
    border: none;
    width: 70%;
    margin-left: 10px;

}
#btn-01{
    background-color: #0079FF;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    height: 80%;
    width: 100px;
    margin-right: 5px;

}
#btn-01:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5)
}
.imgGen{
    width: 1rem;
    height: 1rem;
    margin-left: 10px;
    
}
#box-03{
    display: flex;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
aside{
    display: flex;
    justify-content: center;
    width: 40%;
}
aside > img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 15px;
    margin-top: 80px;

}
#box-04{
    
    width: 60%;
    margin-top: 2rem;
    margin-right: 0.5rem;
}
#div-01{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

#div-01 > span{
    color: rgb(51, 51, 51);
    
}

#text-01{
    margin: 0;
    color: #1f4980;
}
#text-02{
    color: rgb(189, 189, 189);
}
#box-05{
    border: .05px solid rgb(82, 82, 82);
    background-color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    color: rgb(189, 189, 189);
    justify-content: space-around;
    align-items: center;
    height: 25%;
}
#box-05 > div{
    
    height: 100%;
    margin: 10px;
}
#box-05 > div >h6{
    
    color: black;
    margin-top: 10px;
    margin-bottom: 1px;
}
#box-05 > div >h2{
    border-bottom: 5px;
}

#box-06{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.text02{
    font-size: 1.2vh;
}
@media (max-width: 600px) {
    main{
        height: auto;
        min-width: 270px;
        width: 100%;
    }
    #box-03{
        display: flex;
        flex-direction: column;
    }
    aside > img{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin: 15px;
    }
    #box-04{
    
        width: 100%;
        margin:0.02rem
    
    }
    #div-01, #text-01, #text-02{
        margin: 15px;
    }
  
    #box-05{
        margin: 15px;
    }
    #box-06{
        display: flex;
        flex-direction: column;
        margin: 15px;
        
    }
}